MONGODB=mongodb://localhost:27017/attend
PASSWORD=qira vszp napw vmwr
EMAIL=mohammednovfals@gmail.com
CLIENT_URL=https://knvkl6rw-3000.inc1.devtunnels.ms
JWT_SECRET=secretekey-132
CLOUDINARY_CLOUD_NAME=dq2mpe07b
CLOUDINARY_API_KEY=719553172926721
CLOUDINARY_API_SECRET=bjpBom-9coXskPJKOyPsBkwbUU0